/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-bottom: 20px;
    background-color: #F7FAFC;
}

.iconstuff
{
	margin-right: 30px;
	margin-bottom: 30px;
}

.section {
    padding: 20px;
    padding-top: 50px;
    margin: 10px 0px;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    overflow: auto;
}

.section .label {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
}

.form-custom-control {
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea{
    font-family:"Courier New", Courier, monospace;
}

#end-code{
    width: 100%;
    height: 500px;
}
#pixel-code{
    width: 100%;
    height: 25px;
    resize: none;
}
.code{
    width: 100%;
    height: 500px;
}
.segment{
    position: relative;
}
.close-button{
    position: absolute;
    top: 0px;
    right:0px;
    z-index: 100;
}

.modal-dialog{
    width: 80%;
}

.tab-pane{
    padding-top: 20px;
}

.jumbotron {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d284c+0,623882+100 */
    background: #3d284c; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #3d284c 0%, #623882 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3d284c), color-stop(100%,#623882)); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(-45deg,  #3d284c 0%,#623882 100%); /* Chrome10-25,Safari5.1-6 */
    background: -ms-linear-gradient(-45deg,  #3d284c 0%, #623882 100%); /* Internet Explorer 10+ */
    background: -o-linear-gradient(-45deg,  #3d284c 0%, #623882 100%); /* Opera 11.10+ */
    background: linear-gradient(135deg,  #3d284c 0%,#623882 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d284c', endColorstr='#623882',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top:70px;
        padding-bottom: 70px;
    }
}

.jumbotron p {
    color:#DFD9E3;
    font-size: 17px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 200;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 27px;
}

.jumbotron.top { padding:20px; }
.jumbotron.top #logo { text-align: left; }
.jumbotron.top #logo .image { width: 165px; height: 45px; }
.jumbotron.top #logo .text { font-size: 26px; }

@media screen and (max-width: 500px) {
    .jumbotron.top #logo .image { width: 145px; height: 40px; }
    .jumbotron.top #logo .text { font-size: 20px; line-height: 43px; }
    .jumbotron #logo .image { width: 160px; height: 45px; }
    .jumbotron #logo .text { font-size: 24px; line-height: 47px; }
}

@media screen and (max-width: 580px) {
    .col-md-12 .btn-group { margin-bottom: 20px; float: none !important; display: block; overflow: auto; }
}

#logo {
    text-align: center;
}

#logo .image {
    background-image: url('../images/countly-logo.svg');
    width:190px;
    height:50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: text-bottom;
}

#logo .text {
    font-size: 30px;
    color:#EDEAF0;
    vertical-align: text-bottom;
    line-height: 50px;
    font-weight: 100;
}

h2 {
    color:#4D4F5F;
    font-weight: 200;
    margin: 40px 0 30px 0;
}

.cly-grid .cly-col {
    border: 1px solid #EAEAEA;
    background-color: #FFF;
    padding:30px;
    margin-bottom: 30px;
    text-align: center;
}

.cly-grid .cly-col h2 {
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.cly-grid .cly-col p {
    font-size: 14px;
    color:#7B7B7B;
    line-height: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.cly-grid .cly-col:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
}

.cly-grid .cly-col .icon {
    width: 60px;
    height: 60px;
    background-size: contain;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.cly-grid a,
.cly-grid a:hover {
    text-decoration: none;
    color: inherit !important;
}


.cly-grid .cly-col .next {
    color:#2FA732;
    margin-top: 30px;
    font-size: 12px;
}

#dropdown-icon {
    background-image: url('../images/angles-down-solid.svg');
    width:12px;
    height:12px;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: text-bottom;
}

#dropdown-icon-2 {
    background-image: url('../images/angles-up-solid.svg');
    width:12px;
    height:12px;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: text-bottom;
}

footer p {
    text-align: center;
    margin: 30px 0 40px 0;
}

footer a {
    color:#623882 !important;
}

#sdks {
    max-width: 800px;
    margin: 0 auto;
}

.cly-grid.sdks .header {
    overflow: auto;
    margin:0 0 20px 0;
}

.cly-grid.sdks .header .icon {
    float: left;
    width: 40px;
    height: 40px;
}

.cly-grid.sdks .header h2 {
    margin: 0;
    text-align: left;
    margin-left: 60px;
    padding-top: 5px;
}

.cly-grid.sdks p {
    text-align: left;
}

@media screen and (min-width: 992px) {
    .cly-grid.sdks p {
        min-height: 60px;
    }
}

.cly-grid.sdks .next {
    text-align: left;
    text-transform: uppercase;
}

#countly-link {
    border-bottom: 2px solid #2FA732;
    font:inherit !important;
    color:inherit;
}

#countly-link:hover { text-decoration: none; }

fieldset {
    border: 3px solid #191C20 ;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
}

legend {
    padding: 5px;
    margin: 0px;
    max-width: max-content;
}

.advanced-list{display: none;}
.advanced span.label {cursor:pointer;}