[submodule "sdk/web"]
	path = sdk/web
	url = https://github.com/Countly/countly-sdk-web
	branch = gh-pages
[submodule "sdk/nodejs"]
	path = sdk/nodejs
	url = https://github.com/Countly/countly-sdk-nodejs
	branch = gh-pages
